*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}
body {
    background: rgb(255,138,138);
    background: linear-gradient(114.2deg, rgb(121, 194, 243) 22.6%, rgb(255, 180, 239) 67.7%);
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical center*/
    min-height: 100vh;
    padding:10px 20px;
    /*
    background: url("background_img.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  */
    
}

.list {
    position: relative;
    width: 500px;
    height:500px;
    object-fit: cover;
    resize: vertical;
    overflow: auto;
    resize:none;
}
.list h2{
    border-radius: 30px;
    background: linear-gradient(101.2deg, rgb(247, 0, 0) -21.9%, rgb(164, 50, 237) 92.2%);
    display:flex;
    justify-content: center;
    color: #fff;
    padding:10px 20px;
    font-weight: 600;
    
}
ul{
    padding:relative;
    padding: 20px;
}
li{
    position: relative;
    list-style: none;
    padding: 15px ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
label{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
input{
    visibility: hidden;
    appearance: none;
}
p{
    position: absolute;
}
span{
    position:relative;
    width: 20px;
    height: 20px;
    border: px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span:before
{
    content:' ';
    position:absolute;
    top:5px;
    width: 10px;
    height:5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-40deg);
}
input:checked ~p
{
    text-decoration: line-through;
    color: #ccc;
}
input~span
{
    background-color: #e22c2f;
}
input~span::before
{
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.form-control{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
#content{
    display: flex;
    padding: 10px;
    border-right: 20px;
    height: 50px;
    width: 360px;
    border-radius: 5px;
    resize:none;
    margin-right: 15px;

}


/* CSS */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #E85671;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 33px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
        45deg,
        #2F6EF5,
        #ccc,
        #F53F7E
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    display:flex;
    justify-content: center;
    border-radius: 33px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
  }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);  left: 0;
    top: 0;
    border-radius: 33px;

}
