*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}
body {
    background: rgb(255,138,138);
    background: linear-gradient(90deg, rgba(255,138,138,1) 0%, rgba(255,138,190,1) 100%);
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical center*/
    min-height: 100vh;
    /*
    background: url("background_img.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  */
    
}

.list {
    position: relative;
    background-color: #fff;
    width: 500px;
    object-fit: cover;
    resize: vertical;
    overflow: auto;
}
.list h2{
    background: rgb(236,61,64);
    background: linear-gradient(90deg, rgba(236,61,64,1) 0%, rgba(228,17,50,1) 100%);
    display:flex;
    justify-content: center;
    color: #fff;
    padding:10px 20px;
    font-weight: 600;
}
.list ul{
    padding:relative;
    padding: 20px;
}
.list ul li{
    position: relative;
    list-style: none;
    padding: 15px ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.list ul li label{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.list ul li label input{
    visibility: hidden;
    appearance: none;
}
.list ul li label p{
    position: absolute;
}
.list ul li label span{
    position:relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul li label span:before
{
    content:' ';
    position:absolute;
    top:5px;
    width: 10px;
    height:5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-40deg);
}
.list ul li label input:checked ~p
{
    text-decoration: line-through;
    color: #ccc;
}
.list ul li label input~span
{
    background-color: #e22c2f;
}
.list ul li label input~span::before
{
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}